{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/head_links.html" %}
</head>
<body class="goto-here">
<div class="py-1 bg-black">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <!-- دکمه‌های ورود و ثبت‌نام -->
                    <div class="col-md d-flex topper align-items-center">
                        <div class="ml-auto d-flex justify-content-end">
                            {% if request.user.is_authenticated %}
                                <a class="btn btn-sm btn-outline-light mr-2">profile</a>
                                <a href="{% url 'account:user_logout' %}" class="btn btn-sm btn-outline-light mr-2">Logout</a>
                            {% else %}
                                <a href="{% url 'account:register' %}" class="btn btn-sm btn-outline-light mr-2">Login/register</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- متن سمت راست (در صورت نیاز) -->
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "includes/navbar.html" %}
<!-- END nav -->

{% block main %}
{% endblock %}

{% include "includes/footer.html" %}
{% include "includes/footer_links.html" %}

</body>
</html>
